---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Oldal nem található">
    <div class="flex flex-col items-center justify-center text-center h-screen">
        <h1 class="text-9xl font-extrabold text-brand-teal tracking-widest">404</h1>
        <div class="bg-brand-gold px-2 text-sm rounded rotate-12 absolute">
            Oldal nem található
        </div>
        <p class="mt-4 text-lg">Hoppá! Az általad keresett oldal nem létezik.</p>
        <a href="/" class="mt-8 bg-brand-teal text-white font-bold py-3 px-8 rounded-full hover:bg-opacity-90 transition">
            Vissza a főoldalra
        </a>
    </div>
</Layout>